@font-face
  font-family: 'MonaSans'
  src: local('MonaSans'), local('MonaSans-Regular'), url('../fonts/MonaSans-Regular.woff2') format('woff2')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'MonaSans'
  src: local('MonaSans Bold'), local('MonaSans-Bold'), url('../fonts/MonaSans-Bold.woff2') format('woff2')
  font-weight: bold
  font-style: normal
